* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url(img/comedor.jpg); */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/comedor2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.container-form {
  width: 90%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  transition: all .5s ease-out;
}

.formulario {
  width: 400px;
  padding: 1rem;
  margin: 2rem;
  background-color: rgb(51, 51, 51, 0.650);
  text-align: center;
  border-radius: 1%;
}

.create-account {
  padding: 3.5rem 0;
  font-size: 1.7rem;
}

.formulario input {
  width: 80%;
  display: block;
  margin: auto;
  margin-bottom: 4rem;
  background-color: transparent;
  border: none;
  border-bottom: white thin solid;
  text-align: center;
  outline: none;
  padding: .2rem 0;
  font-size: .9rem;
  color: white;
}

#my-signin2 {
  width: 75%;
  margin: auto;
  /* border: solid thin white; */
  /* padding: .7rem; */
  cursor: pointer;
}

.formulario input::placeholder {
  color: white;
  font-size: 1em;
}

.formulario button {
  width: 80%;
  margin: auto;
  border: solid thin white;
  padding: .7rem;
  border-radius: 2rem;
  background-color: white;
  font-weight: 600;
  /* margin-top: 0.5rem; */
  font-size: .8rem;
  cursor: pointer;
  color: #000;
}

.sign-in {
  /* position: absolute; */
  opacity: 1;
  visibility: visible;
}